[Azure]
#Enter your clientId and clientSecret here. You can obtain them via adding an application to your AzureAD.
clientId = <YOUR_CLIENT_ID_HERE>
clientSecret = <YOUR_CLIENT_SECRET_HERE>

[Users]
#Here you can define Principals to be left out of synchronisation. Just separate them with commas and optionally whitespace.
#These principals won't be considered by the DomainUserAdministration class and thereby not added to the POSIX user database.
blockedPrincipals: <PRINCIPALS_HERE>
[Linux]
#Standard options for useradd can be defined via JSON.
#Example: {"-m": "", "-g": "wheel"} for "useradd -m -g wheel <user>"
standardUserConfig={"-m": "", "-k": "/home/shared", "-s": "/usr/bin/bash", "-G": "cdrom,dip,plugdev,azuread"}

#The passwd, shadow and group files can be defined here. If left out (not blank but removing the key entirely)
#the standard files (/etc/passwd, /etc/shadow, /etc/group) will be used.
#passwdFile = ./passwd
#shadowFile = ./shadow
#groupFile = ./group
#All users created by this tool will be added to a group in order to find them faster in case of removal from AzureAD
#You can define a group name here, otherwise azuread will be used.
azureGroupName = azuread
standardPassword = <YOUR_PASSWORD_HERE>

[Daemon]
#Here parameters for the daemon are defined.
#Synchronization interval in minutes
#A schedule for every x minutes wil be set
syncInterval = 10

#Interval in which scheduled syncs will be checked and executed if they're due
#Every x seconds a check will occure
checkInterval = 300

#You can define the number of log backups that will be kept. Logfiles will be rotated daily.
logBackupCount=30