{
    "azure": {
        "clientId": "<YOUR_CLIENT_ID_HERE>",
        "clientSecret": "<YOUR_CLIENT_SECRET_HERE>",
        "azureADGroupId": "<YOUR_AZURE_AD_GROUP_HERE>",
        "authUrl": "<YOUR_AUTH_URL_HERE>"
        "ignoreList": []
    },
    "os": {
        "type": "linux",
        "userConfig": {
            "-m": "",
            "-k": "/home/shared",
            "-s": "/usr/bin/bash",
            "-G": "cdrom,dip,plugdev,azuread",
            "-c": "$AD_USER_FULLNAME" //Will set the Azure AD fullname as GECOS string
        },
        "groupName": "azuread",
        "password": "Xpertnova#1!"
        //Useful for debugging purposes
        // "sysFiles": {
        //     "passwd": "./passwd",
        //     "shadow": "./shadow",
        //     "group": "./group"
        // }
    },
    "daemon": {
        "syncInterval": 600, //in seconds
        //"checkInterval": 300, no longer needed
        "logBackupCount": 30,
        "logBackupMaxSize": 1, //in MB
        "logFilePath": "/var/log/adsyncd/adsyncd.log",
        "logBackupMaxAge": 28,
        "useLogCompression": false,
    }
}